* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #151515;
}

.wrapper {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

.logo {
    display: none;
    width: 80px;
    height: 80px;
}

.header {
    background-color: #363636;
    position: relative;
}

.header__wrapper {
    padding: 15px 0;
}

.header__nav-outer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-inner-list {
    display: flex;
    gap: 75px;
}

.header__nav-inner-list svg {
    width: 35px;
    height: 40px;
    fill: white;
    stroke: white;
    object-fit: cover;
}

.header__nav-inner-list span {
    text-transform: capitalize;
    color: white;
    font-size: 17px;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.add-task__btn {
    font-size: 45px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border-radius: 50%;
    border: none;
    width: 64px;
    height: 64px;
    background-color: #8687E7;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    cursor: pointer;
}

/*Tasks section*/

.tasks__section {
    padding: 80px 0;
}

.tasks__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.task {
    background-color: #363636;
    position: relative;

    padding: 25px;

    display: flex;
    gap: 25px;
}

.options-task__btn {
    background: none;
    border: none;
    cursor: pointer;

    fill: #FFFFFF;
    font-size: 40px;

    margin: auto 0;
}

.task-title {
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 500;
}

.task-deadline {
    color: #AFAFAF;
    font-size: 21px;
    font-weight: 500;
}

.task__main-info {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.task__part-info {
    display: flex;
    gap: 15px;

    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 15px 15px 0;
}

.category-title {
    font-size: 17px;
    font-weight: 400;
}

.priority-value {
    font-size: 30px;
    font-weight: 500;
}

.category {
    background-color: #809CFF;
    border-radius: 5px;
    color: white;

    padding: 10px;
}

.priority,
.category {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

.priority {
    border: 1px solid #8687E7;
    border-radius: 5px;
    color: #E8E8E8;

    padding: 10px;
    gap: 5px;
}

.priority svg,
.category svg {
    width: 30px;
    height: 30px;
    fill: #E8E8E8;
}


.add-task__modal {
    /*hidden*/
    display: none;
    /*hidden*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1240px;
    padding: 0 20px;
    width: 100%;
    z-index: 2;
}

.add-task__modal.active {
    display: block;
}

.modal__wrapper {
    position: relative;

    background-color: #363636;
    border-radius: 15px;
    width: 100%;

    padding: 60px 40px;

    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    gap: 40px;

    height: 50vh;
    overflow-y: auto;
}

.modal-overlay {
    /*hidden*/
    display: none;
    /*hidden*/

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    backdrop-filter: blur(3px);

    z-index: 1;
}

.modal-overlay.active {
    display: block;
}



#set-date {

}


.modal-title {
    font-size: 25px;
    color: #E8E8E8;
}

.close-btn {
    font-size: 36px;
    color: red;
    background: none;
    border: none;
    cursor: pointer;

    position: absolute;
    top: 1rem;
    right: 1rem;
}

.buttons__wrapper {
    display: flex;
    justify-content: space-between;
}

.set-deadline,
.set-tag,
.set-priority,
.send-task {
    font-size: 25px;

    background: none;
    border: none;
    cursor: pointer;
}

.set-deadline,
.set-tag,
.set-priority {
    color: #FFFFFF;
    transition: all 0.3s linear;
}

.set-deadline:hover,
.set-tag:hover,
.set-priority:hover {
    color: #8687E7;
}

.send-task {
    color: #8687E7;
    transition: all 0.3s linear;
}

.send-task:hover {
    color: #FFFFFF;
}

.add-task__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.add-task__form input,
.add-task__form textarea {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    width: 100%;
    min-height: 50px;

    box-shadow: none;
    resize: vertical;

    padding: 0 10px;
}

.add-task__form input:focus,
.add-task__form textarea:focus {
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
}

.first-column {
    display: flex;
    gap: 50px;
}




/* calendar */

.set-deadline__modal-window {
    /*hidden*/
    display: none;
    /*hidden*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1040px;
    padding: 60px 30px;
    width: 95%;
    z-index: 4;
    background-color: #363636;
    border-radius: 15px;
}

.set-deadline__modal-window.active {
    display: block;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /*align-items: center;*/
    /*justify-content: center;*/
    place-items: center;
    /*height: 120px;*/
    gap: 15px;

    margin: 40px 0;
}

.day {
    font-size: 17px;
    color: white;
    background-color: #151515;
    /*padding: 5px;*/
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.day.selected {
    background-color: green;
}
.selected-date {
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 700;
}

#set-time {
    background-color: #363636;
    display: flex;
    margin: 0 auto;
}

.month {
    display: flex;
    justify-content: space-between;

    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 400;

    margin: 25px 0;
}
.set-deadline__btns {
    display: flex;
    justify-content: space-around;
}

.set-deadline__btn {
    width: 120px;
    height: 60px;
    text-transform: capitalize;
    font-size: 17px;
}

.cancel-btn {
    background-color: transparent;
    color: #8687E7;
    border: none;
}

.choose-time__btn {
    background-color: #8687E7;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
}

.time-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    margin: 25px 0;
}

.hours,
.minutes {
    background-color: #151515;
    border-radius: 10px;
    height: 100px;
    width: 120px;
    overflow: auto;

    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 10px;

    /* Hide the scrollbar within the container */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.hours::-webkit-scrollbar,
.minutes::-webkit-scrollbar {
    /* Hide the scrollbar for Chrome, Safari, and Opera */
    display: none;
}

.hour,
.minute,
.dots {
    color: #FFFFFF;
    font-size: 27px;
}

.hour.selected,
.minute.selected {
    background-color: green;
}